{{!-- Wrapped with div class 'nav-buttons' --}}
<div class="nav-buttons">
    <div class="nav-buttons-container-inner">
    	<div class="page-level-progress-nav-buttons"></div>
    	{{!-- <div class="nav-buttons-menu-buttons-container">--}}
			{{!-- <a href="{{homeUrl}}">{{{home}}}</a>--}}
			{{!-- <a class="workbook" href="{{workbookUrl}}" target="_blank">{{{workbook}}}</a>--}}
	    {{!-- </div>--}}
    </div>
</div>