{{! Maintainers - Ramesh Sharma}}
{{! overlay button for mobile and ipad}}
<div class="overlayPlayButton">
    <div class="playImage"></div>
 	
</div>
<div class="mobile-notify">
	<div class="mobile-notify-body"> This device doesn't support auto play the audio. Click on OK to hear the audio.</div>
	<button class="overlayOkButton">OK</button>
</div>